<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }}</title> 
    <meta name="description" content="{{ site.description }}">
</head>
<body>
    <h1>Latest Posts</h1>
    <ul>
    {% for post in posts %}
        <li>
            <span class="date">{{ post.frontmatter.date }}</span>
            <a href="{{ post.url | safe }}">{{ post.frontmatter.title }}</a>
        </li>
    {% endfor %}
    </ul>
</body>
</html>