{% extends "base.j2" %}

{% block title %}
Posts tagged "{{ tag }}" · {{ site.title }}
{% endblock %}

{% block content %}
<h2>Posts tagged "{{ tag }}"</h2>

{% if posts | length > 0 %}
<ul>
{% for post in posts %}
    <li>
        <span class="date">{{ post.frontmatter.date }}</span>
        <a href="{{ post.url | safe }}">{{ post.frontmatter.title }}</a>
    </li>
{% endfor %}
</ul>
{% else %}
<p>No posts found for this tag.</p>
{% endif %}
{% endblock %}
